{% extends "base" %}
{% block body %}
<header>
  {% include "admin/components/navbar" %}

  {% block header %}
  {% endblock %}
</header>

<main>
  <div class="container my-5">
    {% include "components/flash" %}

    {% block content %}
    {% endblock %}
  </div>
</main>
{% endblock %}