<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ event.name }}</title>
  <style>
    body {
      background-color: black;
      background-image: url("https://http.cat/{{ status }}");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-attachment: fixed;
    }
  </style>
</head>

<body>
</body>

</html>